<html>

<head>
    <meta charset="utf-8">
    <script src="/jquery.min.js"></script>

    <title>Mongoose Dashboard</title>
</head>

<body>
    <h1>Add to the Wolf Pack</h1>

    <form action='/Wolves' method='post'>
        <p>Name: <input type="text" name="name"></p>
        <p>Age: <input type="text" name="age"></p>
        <p>Does he have Mange?
            <select name='mange'>
              <option value='yes'>Yes</option>
              <option value='no'>No</option>
              <option value='Unsure'>I don't know</option>
            </select>
        </p>
        <p><input type="submit" value="Submit Info"></p>
    </form>
    <p><a href="/">Go Back</a></p>
    </div>
</body>

</html>