<!DOCTYPE html>
<html>

<head>
    <title>Cats</title>

</head>

<body>
    <% for (var cat in cats) { %>
        <h2>
            <%= cats[cat].name %>
        </h2>
        <a href="/cats/<%= cats[cat].name=%>" <img src="<%=cats[cat].source=%>" "></a>
    <% }
    %>
</body>

</html>