<!DOCTYPE html>
<html>

<head>
    <title>Details</title>

</head>

<body>
    <% for (var cat in detail) { %>
        <h2>Detail/:
            <%= detail[cat].detail %>
        </h2>
        <% }
    %>
</body>

</html>