<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quoting Dojo</title>
</head>

<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quote" method="post">
        <label for="name">Enter Your Name: </label>
        <input type="text" name="name" id="name">

        <label for="quote">Enter Your Quote:</label>
        <textarea name="quote" id="quote" cols="40" rows="15"></textarea>

        <button type="submit">Add My Quote!</button>
    </form>
    <a href="/quote"><button>Skip to quotes!</button></a>
    </div>
</body>

</html>